body{
  background: #000000 !important;

}
*{
  font-family: 'futura-pt', sans-serif;
  color: white;
}

.full-page-container{
  width: 100vw;
  height: 100vh;
}
.slide-container{
  margin-top:200px;
}
.bhuman-container{
   /* position: absolute;
     top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
   /* display: flex;
   flex-direction: column; */
   margin-top: 120px;
   max-height: 100%;
   max-width: 100%;
}
.body-column{
  position: absolute;
  left: 280px;
}

.bhuman-part{
  /* display:inline-block; */
  width: 255px;
}
.bhuman-middle{
  margin-top: -55px;
    z-index: -10;
    position: relative;
}
.bhuman-bottom{
  margin-top: -55px;
    z-index: -20;
    position: relative;
}
.modal-body, .modal-title{
  color: #000000;
}
.modal{
  z-index: 999999999999;
}
#generate{
  background: white;
  font-size: 34px;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
  margin-top: 57px;
 margin-left: auto;
 margin-right: auto;
 color: #000000;
}
#generateMobile{
  background: white;
  font-size: 34px;
  text-transform: uppercase;
  padding: 10px 20px;
  display: block;
  margin-top: 57px;
 margin-left: auto;
 margin-right: auto;
 color: #000000;
}

.storybox{
  opacity: 0;
  /* display:inline-block;
  position: absolute; */
  z-index:999;
  /* width: 660px; */
  border-radius: 5px;
  padding: 10px;
  left: 10px;
  top: 5px;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid white;
  margin: 10px 350px 10px 0;
}
a{
  text-decoration: underline;
}
.italic{
  font-style: italic;
}
/* .bhuman-middle-storybox{
  left: -180px !important;
} */
/* .storybox .bhuman-middle-storybox{
  left: -90px !important;
} */
/* .storybox::after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 36px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-bottom: 0;
	margin-top: -18px;
	margin-left: -36px;
} */
/* .storybox p{
  color: white;
} */
.body-flex-column{
  height:100%;
  float:right;
  padding: auto;
}
.story-flex-column{
  height: 100%;
  padding: 20px 0;
}

@media screen and (max-width: 600px){
  .bhuman-part{
    width: 180px;
  }
  .bhuman-middle{
    margin-top: -35px;
  }
  .bhuman-bottom{
    margin-top: -20px;
  }
  /* .bhuman-part{
    margin-top: 80px;
  } */
  /* .storybox{
    left: 0 !important;
  } */
  .desktop-only{
    display:none !important;
  }
  .mobile-only{
    display:block !important;
  }
  .bhuman-container{
    margin-top: 0;
  }
  .storybox{
    background: rgba(0, 0, 0, 0.7);
    margin: 10px 0 10px 0;
  }
  .body-column{
    max-width:200px !important;
    left: 31%;
  }

}
@media screen and (min-width: 601px){
  .desktop-only{
    display:block !important;
  }
  .mobile-only{
    display:none !important;
  }
  .bhuman-middle-storybox{
    margin-left: 30px;
  }
  .bhuman-bottom-storybox, .bhuman-top-storybox{
    margin-right: 390px;
  }
}
